## Problem 1 - Variables and Data Types

In [ ]:
# Q1: Assign your name to the variable name.

In [ ]:
name='Anshuman'

In [ ]:
#Q2: Assign your age (real or fake) to the variable age.

age = 23

In [ ]:
#Q3: Assign a boolean value to the variable has_android_phone.

has_android_phone = "Yes"

In [ ]:
#You can check the values of these variables by running the next cell.

name, age, has_android_phone

('anshuman', 23, 'Yes')

In [ ]:
#Q4: Create a dictionary person with keys "Name", "Age", "HasAndroidPhone" and values using the variables defined above.

person = {'Name':'Anshuman',
          'Age':23,
          'HasAndroidPhone':"yes"}

In [ ]:
#Let's use the person dictionary to print a nice message.

print("{} is aged {}, and owns an {}.".format(
    person["Name"], 
    person["Age"], 
    "Android phone" if person["HasAndroidPhone"] else "iPhone"
))

Anshuman is aged 23, and owns an Android phone.

In [ ]:
#Q4b (Optional): Use a for loop to display the type of each value stored against each key in person.

#Here's the expected output for the key "Name":

#The key "Name" has the value "Derek" of the type "<class 'str'>"
# this is optional

person = {'Name':'Anshuman',
          'Age':23,
          'HasAndroidPhone':"yes"}

for i in person:
  print(i,person[i],type(person[i]))

Name Anshuman <class 'str'>
Age 23 <class 'int'>
HasAndroidPhone yes <class 'str'>

# Problem 2 - Working with Lists
Q5: Create a list containing the following 3 elements:

your favorite color
the number of pets you have
 a boolean value describing whether you have previous programming experience

In [ ]:
my_list = ['Black',2,'Yes']

In [ ]:
#Let's see what the list looks like:

my_list

['Black', 2, 'Yes']

In [ ]:
#Q6: Complete the following print and if statements by accessing the appropriate elements from my_list.

#Hint: Use the list indexing notation [].

print('My favorite color is', my_list[0])

My favorite color is Black

In [ ]:
print('I have {} pet(s).'.format(my_list[1]))

I have 2 pet(s).

In [ ]:
if my_list[2]=="Yes":
    print("I have previous programming experience")
else:
    print("I do not have previous programming experience")

I have previous programming experience

In [ ]:
# Q7: Add your favorite single digit number to the end of the list using the appropriate list method.

my_list.append(21)

In [ ]:
#Let's see if the number shows up in the list.

my_list

['Black', 2, 'Yes', 21]

In [ ]:
#Q8: Remove the first element of the list, using the appropriate list method.

#Hint: Check out methods of list here: https://www.w3schools.com/python/python_ref_list.asp

my_list.pop(0)

'Black'

In [ ]:
my_list

[2, 'Yes', 21]

In [ ]:
#Q9: Complete the print statement below to display the number of elements in my_list.

print("The list has {} elements.".format(len(my_list)))

The list has 3 elements.

## Problem 3 - Conditions and loops
Q10: Calculate and display the sum of all the numbers divisible by 7 between 18 and 534 i.e. 21+28+35+...+525+532.

Hint: One way to do this is to loop over a range using for and use an if statement inside it.

In [ ]:
# store the final answer in this variable
sum_of_numbers = 0
for i in range(18,534):
  if (i%7==0):
    sum_of_numbers+=i
    print(sum_of_numbers,end=",")

# perform the calculation here

21,49,84,126,175,231,294,364,441,525,616,714,819,931,1050,1176,1309,1449,1596,1750,1911,2079,2254,2436,2625,2821,3024,3234,3451,3675,3906,4144,4389,4641,4900,5166,5439,5719,6006,6300,6601,6909,7224,7546,7875,8211,8554,8904,9261,9625,9996,10374,10759,11151,11550,11956,12369,12789,13216,13650,14091,14539,14994,15456,15925,16401,16884,17374,17871,18375,18886,19404,19929,20461,

In [ ]:
print('The sum of all the numbers divisible by 7 between 18 and 534 is', sum_of_numbers)

The sum of all the numbers divisible by 7 between 18 and 534 is 20461

## Problem 4 - Flying to the Bahamas
Q11: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company?

Fill in values or arithmetic expressions for the variables below.

In [ ]:
cost_of_flying_plane = 5000

In [ ]:
number_of_passengers = 29

In [ ]:
price_of_ticket = 200

In [ ]:
profit =  price_of_ticket* number_of_passengers-cost_of_flying_plane

In [ ]:
print('The company makes of a profit of {} dollars'.format(profit))

The company makes of a profit of 800 dollars

Q11b (Optional): Out of the 29 people who took the flight, only 12 buy tickets to return from the Bahamas on the same plane. If the flying the plane back also costs 5000 dollars, and does the company make an overall profit or loss? The company charges the same fee of 200 dollars per ticket for the return flight.

Use an if statement to display the result.

In [ ]:
# this is optional
number_of_passengers = 12
cost_of_flying_plane = 5000
price_of_ticket = 200
profit2 =  price_of_ticket* number_of_passengers-cost_of_flying_plane 
overall=profit + profit2

In [ ]:
# this is optional
if overall>0:
    print("The company makes an overall profit of {} dollars".format(overall))
else:
    print("The company makes an overall loss of {} dollars".format(overall))

The company makes an overall loss of -5200 dollars

## Problem 5 - Twitter Sentiment Analysis
Are your ready to perform some Data Analysis with Python? In this problem, we'll analyze some fictional tweets and find out whether the overall sentiment of Twitter users is happy or sad. This is a simplified version of an important real world problem called sentiment analysis.

# Before we begin, we need a list of tweets to analyze. We're picking a small number of tweets here, but the exact same analysis can also be done for thousands, or even millions of tweets. The collection of data that we perform analysis on is often called a dataset

In [ ]:
tweets = [
    "Wow, what a great day today!! #sunshine",
    "I feel sad about the things going on around us. #covid19",
    "I'm really excited to learn Python with @JovianML #zerotopandas",
    "This is a really nice song. #linkinpark",
    "The python programming language is useful for data science",
    "Why do bad things happen to me?",
    "Apple announces the release of the new iPhone 12. Fans are excited.",
    "Spent my day with family!! #happy",
    "Check out my blog post on common string operations in Python. #zerotopandas",
    "Freecodecamp has great coding tutorials. #skillup"
]

In [77]:
#Let's begin by answering a very simple but important question about our dataset.

#Q12: How many tweets does the dataset contain?

number_of_tweets = len(tweets)

In [79]:
#Let's create two lists of words: happy_words and sad_words. We will use these to check if a tweet is happy or sad.

happy_words = ['great', 'excited', 'happy', 'nice', 'wonderful', 'amazing', 'good', 'best']

In [80]:
sad_words = ['sad', 'bad', 'tragic', 'unhappy', 'worst']

In [81]:
#To identify whether a tweet is happy, we can simply check if contains any of the words from happy_words. Here's an example:

sample_tweet = tweets[0]

In [82]:
sample_tweet

'Wow, what a great day today!! #sunshine'

In [83]:
is_tweet_happy = False

# Get a word from happy_words
for word in happy_words:
    # Check if the tweet contains the word
    if word in sample_tweet:
        # Word found! Mark the tweet as happy
        is_tweet_happy = True

In [84]:
# Do you understand what we're doing above?

# For each word in the list of happy words, we check if is a part of the selected tweet. If the word is indded a part of the tweet, we set the variable is_tweet_happy to True.

In [85]:
is_tweet_happy

True

In [86]:
# Q13: Determine the number of tweets in the dataset that can be classified as happy.

# Hint: You'll need to use a loop inside another loop to do this. Use the code from the example shown above.

In [87]:
# store the final answer in this variable
number_of_happy_tweets = 0

# perform the calculations here
for tweet in tweets:
    for word in happy_words:
        if word in tweet:
            is_tweet_happy = True
            number_of_happy_tweets += 1

In [88]:
print("Number of happy tweets:", number_of_happy_tweets)

Number of happy tweets: 6

In [89]:
# Q14: What fraction of the total number of tweets are happy?

# For example, if 2 out of 10 tweets are happy, then the answer is 2/10 i.e. 0.2.

happy_fraction = number_of_happy_tweets/number_of_tweets

In [90]:
print("The fraction of happy tweets is:", happy_fraction)

The fraction of happy tweets is: 0.6

In [91]:
#To identify whether a tweet is sad, we can simply check if contains any of the words from sad_words.

# Q15: Determine the number of tweets in the dataset that can be classified as sad.

# store the final answer in this variable
number_of_sad_tweets = 0

# perform the calculations here
is_tweet_sad = False
for tweet in tweets:
    for word in sad_words:
        if word in tweet:
            is_tweet_sad = True
            number_of_sad_tweets += 1

In [92]:
print("Number of sad tweets:", number_of_sad_tweets)

Number of sad tweets: 2

In [93]:
# Q16: What fraction of the total number of tweets are sad?

sad_fraction = number_of_sad_tweets/number_of_tweets

In [94]:
print("The fraction of sad tweets is:", sad_fraction)

The fraction of sad tweets is: 0.2

In [95]:
# Q16b (Optional): Calculate the sentiment score, which is defined as the difference betweek the fraction of happy tweets and the fraction of sad tweets.

sentiment_score = happy_fraction-sad_fraction

In [96]:
print("The sentiment score for the given tweets is", sentiment_score)

The sentiment score for the given tweets is 0.39999999999999997

In [98]:
# Q16c (Optional): Display whether the overall sentiment of the given dataset of tweets is happy or sad, using the sentiment score.

if sentiment_score>0:
    print("The overall sentiment is happy")
else:
    print("The overall sentiment is sad")

The overall sentiment is happy

In [99]:
#Q16d (Optional): What is the fraction of tweets that are neutral i.e. neither happy nor sad.

# store the final answer in this variable
number_of_neutral_tweets = 0

# perform the calculation here
number_of_neutral_tweets = number_of_tweets - number_of_happy_tweets - number_of_sad_tweets
print("The number of neutral tweets is {}".format(number_of_neutral_tweets))

The number of neutral tweets is 2